.wrapper {
	width: 940px;
	margin: 20px auto 20px auto;
	border: 2px solid #000000;
	background-color: #ffffff;}
body {
	background-color: powderBlue}
head {
	color: red}
p {
	font-family: arial}
ul {
	font-family: arial}
h1 {
text-align: center}